.buildpath
.idea
.project
.settings
/config/**/*.local.php
/config/application.config.php
/config/autoload/cg_app.global.php
/config/autoload/di.gearman_client.global.php
/config/autoload/di.guzzle.global.php
/config/autoload/di.memcached.global.php
/config/autoload/di.mongo.global.php
/config/autoload/di.redis.global.php
/config/autoload/di.smtp.global.php
/config/di/vendor_components.php
/config/host.php
/data/certificates
/data/di/definitions/
/data/di/php_internal-definition.php
/nbproject
/phinx.yml
/tests/*/*Guy.php
/tests/_data/initialise.sql
/tests/_data/testdata.sql
/tests/_log
/tests/api.suite.yml
/tools/capistrano/log/
/tools/post_deploy.sh
/tools/post_symlink.sh
/vendor
composer.phar
public/channelgrabber/zf2-v4-ui
vendor/channelgrabber/zf2-v4-ui/public/js/zeroclipboard