.idea
/vendor
/data/certificates
/data/di
/config/autoload/database.local.php
/config/autoload/di.guzzle.global.php
/config/autoload/di.gearman_client.global.php
/config/autoload/di.memcached.global.php
/config/autoload/di.redis.global.php
/config/autoload/cg_app.global.php
/config/autoload/di.mongo.global.php
/config/di/vendor_components.php
/config/host.php
/phinx.yml
/tests/_log
/tests/*/*Guy.php
/nbproject
.project
.settings
.buildpath
composer.phar
/tools/post_deploy.sh
tests/_data/initialise.sql
tests/_data/testdata.sql
/config/autoload/di.smtp.global.php
