<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="tests/bootstrap.php" backupGlobals="false" colors="true">
    <testsuites>
        <testsuite name="CG App API Test Suite">
            <directory>./tests/CG</directory>
            <exclude>./tests/CG/SequentialNumbering</exclude>
        </testsuite>
    </testsuites>
    <groups>
        <exclude>
            <group>integration</group>
        </exclude>
    </groups>
</phpunit>
