<?xml version="1.0" encoding="UTF-8"?>
<zend-config>
    <BRANCH>master</BRANCH>
    <NODE>cg_app</NODE>
    <APP_NAME>cg_app</APP_NAME>
    <HOST_NAME>cg_app.channelgrabber.com</HOST_NAME>
    <VM_PATH>/var/www/cg_app</VM_PATH>
    <Vagrant>
        <VM-RAM>768</VM-RAM>
        <VM-ip>192.168.33.5</VM-ip>
        <box>cg-precise64-php55</box>
    </Vagrant>
    <ROLE>cg_app</ROLE>
    <Module>
        <Db>
            <enabled>1</enabled>
            <StorageNode>db1</StorageNode>
            <DatabaseName>cg_app</DatabaseName>
            <DatabaseAdapters>
                <readAdapter>
                    <user>read</user>
                </readAdapter>
                <writeAdapter>
                    <user>write</user>
                </writeAdapter>
                <fastReadAdapter>
                    <user>fast_read</user>
                </fastReadAdapter>
            </DatabaseAdapters>
            <channelgrabber-phinx>~0.2.9.2</channelgrabber-phinx>
        </Db>
        <Redis>
            <enabled>1</enabled>
            <Adapters>
                <reliable>1</reliable>
            </Adapters>
            <predis-predis>~0.8.3</predis-predis>
            <channelgrabber-predis>~1.0.1</channelgrabber-predis>
        </Redis>
        <Mongo>
            <enabled>1</enabled>
            <Adapters>
                <mongodb>1</mongodb>
            </Adapters>
        </Mongo>
    </Module>
    <Environment>
        <Local>
            <node>cg_app</node>
            <IP>192.168.33.5</IP>
            <hostname>cg_app.channelgrabber.com.local</hostname>
        </Local>
    </Environment>
</zend-config>
